torch==2.9.1
torchvision==0.16.0
transformers==4.57.3
transformer-lens==2.16.1
sae-lens==5.3.0
accelerate==1.12.0
pillow==12.1.0
pycocotools==2.0.11
numpy==1.26.4
pandas==2.3.3
matplotlib==3.10.8
seaborn==0.13.2
tqdm==4.67.1
python-dotenv==1.2.1
google-genai==1.56.0
neuronpedia==1.2.0
wandb==0.23.1
deepspeed==0.18.5